<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{detalhesManga.Titulo}}</title>
    <link rel="stylesheet" href="/css/paginaManga.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body data-idusuario="{{infoUsuario.IDUsuario}}" data-idmanga="{{detalhesManga.IDManga}}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/paginaPrincipal">MiruYomuHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item"><a class="nav-link" href="/catalogoAnimes">Catálogo Animes</a></li>
                <li class="nav-item"><a class="nav-link" href="/catalogoMangas">Catálogo Mangás</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{infoUsuario.Nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perfilUsuario">Perfil</a>
                        <a class="dropdown-item" href="#" id="linkListasAnimes">Listas Animes</a>
                        <a class="dropdown-item" href="#" id="linkListasMangas">Listas Mangás</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="search-item" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="button">Pesquisar</button>
            </form>
            <ul id="search-results-dropdown" class="dropdown-menu" style="position: absolute;"></ul>
        </div>
    </nav>

    <div class="modal fade" id="selectListModal" tabindex="-1" role="dialog" aria-labelledby="selectListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectListModalLabel">Selecione uma Lista</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="listasDisponiveis">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <main class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="manga-info text-center ml-5">
                        <img src="../assets/default-cover-4.jpg" alt="{{detalhesAnime.Nome}}" class="anime-cover mb-3">

                        <div class="manga-stats">
                            <p><strong>Nota: {{detalhesManga.Nota}}</strong></p>
                            <p><strong>Favoritos: {{detalhesManga.Membros}}</strong></p>
                            <p><strong>Ano de Lançamento: {{detalhesManga.Ano}}</strong></p>
                        </div>
                        <div class="manga-actions mt-3">
                            <button id="adicionar-lista" class="btn btn-custom" data-toggle="modal" data-target="#selectListModal">Adicionar na Lista</button>
                            <button id="favoritar-manga" class="btn btn-custom">Favoritar Mangá</button>
                            <button id="avaliar-manga" class="btn btn-custom">Avaliar Mangá</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="manga-details">
                        <h2 class="mb-3">{{detalhesManga.Titulo}}</h2>
                        <p><strong>Descrição:</strong> {{detalhesManga.Descricao}}</p>

                        <div class="genres my-3">
                            <h5>Gêneros:</h5>
                            <ul>
                                {{detalhesManga.Genero}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/paginaManga.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>